.onesite__places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 2rem 6rem
}
.onesite__place-header h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: max-content;

    text-align: center;
    color: var(--color-text);
}
.onesite__places-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 4rem;
}

.onesite__places-container div{
    margin-left: 1rem;
}

@media screen and (max-width: 1500px) {
    .onesite__places-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .onesite__places-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .onesite__places-container div{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 778px) {
    .onesite__places-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .onesite__places-container div{
        margin: 0rem;
    }
}